* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  margin-right: 250px;
  margin-left: 250px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  margin: 2px;
}

a:hover {
  color: white;
}

input {
  border-radius: 2px;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
