* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(0, 0, 0, 0.5);
  padding-right: 15px;
  padding-left: 15px;
}

a:hover {
  color: rgb(0, 0, 0, 0.8);
}
